<% content_for :head do  %>
  <%= stylesheet_link_tag 'cart' %>
<% end %>

<h1>Your Shopping Cart</h1>

<div class="cart">
  
  <div class="buttons">
    <%= link_to "Clear Cart", clear_cart_index_url %>
    
    <%= link_to image_tag('/images/btn_xpressCheckout.gif'), :action => 'checkout' %>
  </div>


  <div class="clearfix"></div>

  <% if !@cart.blank? %>

    <div id="items" class="container_12">
      
      <ul class="grid_6">
        <li>
          <div class="grid_2 alpha heading">tsg</div>
          <div class="grid_2 heading">test</div>
          <div class="grid_2 omega heading">sdh</div>                    
        </li>
        <%= render :partial => 'item', :collection => @cart %>
      </ul>
    </div>

  <% else %>

    <h3>Whoops, loose something? There's nothing in your cart dude!</h3>
  
  <% end %>

</div>