<% content_for :head do  %>
  <%= stylesheet_link_tag 'james' %>
<% end %>

<h1>Your Shopping Cart</h1>

<div class="tabular">
  
  <div class="buttons">
    <%= link_to "Clear Cart", clear_cart_index_url %>
    
    <%= link_to image_tag('/images/btn_xpressCheckout.gif'), :action => 'checkout' %>
  </div>


  <div class="clearfix"></div>

  <% if !@cart.blank? %>

    <div id="items">
      
      <table>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>?</th>
        </tr>
        <%= render :partial => 'item', :collection => @cart %>
      </table>
    </div>

  <% else %>

    <h3>Whoops, loose something? There's nothing in your cart dude! <a href="/products">Add something</a>?</h3>
  
  <% end %>

</div>