/* @override 
	http://169.254.182.178:3000/stylesheets/global.css
*/
	
/* Use this for global styling */

/* I have installed a Grid System. Explanation:
 * It is called the 960 grid system - http://960.gs
 * It is based on the idea of a 960px wide website (very standard)
 * Here is an example of use:
 * <div class="container_12">
 *     <div class="grid_7 prefix_1">
 *         <div class="grid_2 alpha">
 *             ...
 *         </div>
 *         <div class="grid_3">
 *             ...
 *         </div>
 *         <div class="grid_2 omega">
 *             ...
 *         </div>
 *     </div>
 *     <div class="grid_3 suffix_1">
 *         ...
 *     </div>
 * </div>
 *
 * container_12 means 12 total columns - you can choose between 12 and 16
 * grid_7 means this takes up 7 columns
 * prefix_1 means there is an extra 1 column space before this content (you can replace 1 with any number)
 * alpha means this is the first column, align with the left (remove the left margin that would normally occur)
 * omega means this is the last column, align with the right (remove the right margin that would normally occur)
 * suffix_1 means there is an extra 1 column space after this content
 * so in total grid_7 + grid_3 + suffix_1 + prefix_1 = 12 columns
 *
 * Happy layout-ing
 *
 */
 
/*
 * There are also default styles for the flash boxes, they sit in "flashes.css"
 * You can also give a checkbox a class "switch" and it will behave like an iphone-style switch
 * Anything with a class "spinner" will be a spinner - similar but different for "loading"
 */
	
/* @group Nav Bar */
	
#nav_bar {
	background-color: #39393b;
	margin-bottom: 20px;
	line-height: 40px;
	display: block;
	}
	
#nav_bar a:hover {
	text-decoration: underline;
	}
	
#nav_bar h2 {
	display: inline-block;
	}
	
#nav_bar h2 a {
	text-decoration: none;
	font-weight: bold;
	color: #5ebe99;
	}
	
#nav_bar nav {
	float: right;
	}

#nav_bar nav ul {
	margin: 0;
	}

#nav_bar nav ul li {
	display: inline-block;
	margin-right: 10px;
	}

#nav_bar nav ul li#login_button {
	margin-right: 0;
	}

#nav_bar nav ul li a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	}
	
/* @end */
	
/* @group Create Account */

.create_account_container h1 {
	font-size: 21px;
	margin-bottom: 20px;
	}
		
.create_account {
	margin: 0;
	list-style-type: none;
	}
.create_account li {
	margin-bottom: 10px;
	}
	
.create_account label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	}

.create_account input {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fff));
	font-size: 14px;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 0 10px 0;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
	border: 3px solid #dedede;
	text-shadow: 0 1px 0 #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	color: #5e5e5e;
	}
	
.create_account input:focus {
	outline: 0;
	border: 3px solid rgba(125,173,204,0.4) !important;
	-webkit-box-shadow: inset 0 0 0 1px rgba(125,173,204,0.6) !important;
	color: #7dadcc !important;
	}
	
/* @end */
 