/* @override 
	http://169.254.182.178:3000/stylesheets/global.css
*/
	
/* Use this for global styling */

/* I have installed a Grid System. Explanation:
 * It is called the 960 grid system - http://960.gs
 * It is based on the idea of a 960px wide website (very standard)
 * Here is an example of use:
 * <div class="container_12">
 *     <div class="grid_7 prefix_1">
 *         <div class="grid_2 alpha">
 *             ...
 *         </div>
 *         <div class="grid_3">
 *             ...
 *         </div>
 *         <div class="grid_2 omega">
 *             ...
 *         </div>
 *     </div>
 *     <div class="grid_3 suffix_1">
 *         ...
 *     </div>
 * </div>
 *
 * container_12 means 12 total columns - you can choose between 12 and 16
 * grid_7 means this takes up 7 columns
 * prefix_1 means there is an extra 1 column space before this content (you can replace 1 with any number)
 * alpha means this is the first column, align with the left (remove the left margin that would normally occur)
 * omega means this is the last column, align with the right (remove the right margin that would normally occur)
 * suffix_1 means there is an extra 1 column space after this content
 * so in total grid_7 + grid_3 + suffix_1 + prefix_1 = 12 columns
 *
 * Happy layout-ing
 *
 */
 
/*
 * There are also default styles for the flash boxes, they sit in "flashes.css"
 * You can also give a checkbox a class "switch" and it will behave like an iphone-style switch
 * Anything with a class "spinner" will be a spinner - similar but different for "loading"
 */
	
/* @group Nav Bar */
	
#nav_bar {
	background-color: #39393b;
	margin-bottom: 20px;
	line-height: 40px;
	display: block;
	}
	
#nav_bar a:hover {
	text-decoration: underline;
	}
	
#nav_bar h2 {
	display: inline-block;
	}
	
#nav_bar h2 a {
	text-decoration: none;
	font-weight: bold;
	color: #5ebe99;
	}
	
#nav_bar nav {
	float: right;
	}

#nav_bar nav ul {
	margin: 0;
	}

#nav_bar nav ul li {
	display: inline-block;
	margin-right: 10px;
	}

#nav_bar nav ul li#login_button {
	margin-right: 0;
	}

#nav_bar nav ul li a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	}
	
/* @end */
	
/* @group Create & Edit Account */

.create_account_container, .edit_account_container {
	width: 248px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 20px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.6), inset 0 -1px 1px rgba(0,0,0,0.1), 0 3px 15px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.3);
	}

.create_account_container h1, .edit_account_container h1 {
	font-size: 21px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin-bottom: 20px;
	}

.create_account_container form {
	margin-bottom: 15px;
	}
		
.create_account, .edit_account {
	margin: 0;
	list-style-type: none;
	}
	
.create_account li, .edit_account li {
	margin-bottom: 15px;
	}

.create_account li:nth-child(3), .edit_account li:nth-child(4) {
	margin-bottom: 5px;
	}
	
.create_account label, .edit_account label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 13px;
	text-indent: 3px;
	}

.create_account input[type="text"], .create_account input[type="password"], .edit_account input[type="text"], .edit_account input[type="password"] {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fff));
	font-size: 14px;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
	border: 3px solid #dedede;
	text-shadow: 0 1px 0 #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	color: #5e5e5e;
	}
	
.create_account input:focus, .edit_account input:focus {
	outline: 0;
	border: 3px solid #bfe5d8;
	-webkit-box-shadow: inset 0 0 0 1px #b3e0cf !important;
	color: #21513f !important;
	}
	
button.submit_button {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a7dbc7), to(#5ebe99));
	border: 1px solid #5ebe99;
	padding: 5px 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	line-height: 20px;
	width: 247px;
	}

button.submit_button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3e0cf), to(#6ac3a1));
	border-color: #6ac3a1;
	}

a.back_button {
	background: url('/images/back_arrow.png') no-repeat 5px center;
	font-weight: bold;
	color: #9d9ea0;
	text-decoration: none;
	background-color: rgba(0,0,0,0.05);
	padding: 3px 10px 3px 20px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.6);
	}
	
a.back_button:hover {
	background-color: rgba(0,0,0,0.035);
	}

ul.edit_account {
	margin-bottom: 20px;
	}
	
.account_avatar {
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin-bottom: 20px;
	height: 48px;
	}

.account_avatar ul {
	margin: 0;
	list-style-type: none;
	height: 48px;
	overflow: hidden;
	}

.account_avatar ul li {
	float: left;
	}
	
.account_avatar ul li h2 {
	line-height: 48px;
	margin-left: 15px;
	font-size: 14px;
	}

.account_avatar img {
	height: 48px;
	width: 48px;
	}

	
/* @end */
 