/* yeah I know another file... but I didn't want to step on anyone's toes */

article section {
  display: block;
  float: left;
  width: 400px;
  border: 1px solid black;
  margin: 0px 15px 5px 0px;
  padding: 10px;
}

  article section > h1 {
    margin-bottom: 10px;
  }

  article section ul {
    padding: 0px;
    margin: 0px;
  }

li.product {
  display: block;
  list-style-type: none;
  padding: 0px;
  width: 200px;
  height: 75px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}

  li.product img {
    float: left;
    margin-right: 10px;
  }
  
  li.product h1, li.product h2, li.product p {
    float: left;
    width: 115px;
    margin-bottom: 4px;
    overflow: hidden;
  }
  
  li.product h1 {
    color: #333;
  }
  
  li.product h2 {
    font-weight: normal;
  }
  
  li.product p {
    color: #ccc;
    font-size: 14px;
  }
