/* @override http://172.31.0.87:3000/stylesheets/modals.css */
	
.modal {
  display: block;
  margin: auto;
  width: 243px;
  border: solid 1px #4d4d4d;
  background: url(../images/modal_bg.png) repeat-x bottom left;
  background-color: rgba(253,253,253,.94);
  -webkit-box-shadow: 
    0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
    inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
  inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  box-shadow: 0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
  inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  border-top: none;
}
  .no-rgba .modal { /* IE */
    background-color: #ededed;
  }
  
  .modal > .inner_glow {
    padding: 25px 30px 17px 30px;
    border: solid 1px rgb(220,220,220);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    background: url(../images/grain_sparse.png);
  }
  
    .no-rgba .modal > .inner_glow { /* IE */
      border: solid 1px rgba(255,255,255,.4);
    }
  
  .modal label {
    width: 115px;
    margin-right: 12px;
    /* Make sure label + this margin + input below = 560px */
    /* If you change this, change .push_label_width. */
  }
  
    .modal .push_label_width {
      margin-left: 127px;
    }
  
  .modal input[type=text],
  .modal input[type=password],
  .modal textarea {
    width: 327px;
    display: block;
  }
  
  .modal.make_animated {
    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    -webkit-transition-duration: 1.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, -moz-box-shadow;
    -moz-transition-duration: 1.2s;
    -moz-transition-timing-function: ease;
    transition-property: transform, box-shadow;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    -webkit-transform-origin: 0 0 0;
  }

.modal_wrapper {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 4000;
  overflow: hidden;
  height: 90%;
  -webkit-perspective: 4000;
}

header#top {
  z-index: 6001;
  position: relative;
}

#overlay_shade {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.17) url(../images/overlay.png) no-repeat center -300px;
  z-index: 1000;
  top: 0;
  left: 0;
}





/* Context box. The new modal. */



/* Context box */

.contextbox {
  border: solid 1px #4d4d4d;
  background: url(../images/modal_bg.png) repeat-x bottom left;
  background-color: rgba(253,253,253,.94);
  -webkit-box-shadow: 
    0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
    inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
  inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  box-shadow: 0 3px 5px rgba(0,0,0,.15) /* drop shadow */,
  inset 0 0 30px rgba(0,0,0,.15) /* inner shadow */;
  -webkit-transform-origin: 0 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 7000;
}

  .no-rgba .contextbox { /* IE */
    background-color: #ededed;
  }
  
  .contextbox.slidable {
    overflow: hidden;
  }
  
  /* .inner_glow whose immediate parent is a context box, */ 
  .contextbox > .inner_glow,
  .contextbox .canvas_for_sliding > .inner_glow {
    border: solid 1px rgba(255,255,255,.4);
    border-top-color: rgba(255,255,255,.6);
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-shadow: none; /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  
    .no-rgba .contextbox > .inner_glow, 
    .no-rgba .contextbox .canvas_for_sliding > .inner_glow { /* IE */
      border: solid 1px rgb(220,220,220);
    }
  
  .contextbox.slidable .canvas_for_sliding > .inner_glow {
    display: inline-block;
    float: left;
  }

  .contextbox h2 {
    margin: 0;
    margin-bottom: .3em;
    color: #505659;
    font-family: KievitOTMedium;
  }

    #sign_in_box h2.oops {
      color: #c75e3a;
      text-shadow: 0 0 5px #ffefae;
    }

      #sign_in_box h2.oops a {
        color: #c75e3a;
      }

  .contextbox .contextbox_arrow {
    width: 21px;
    height: 21px;
  }
  
  .contextbox .contextbox_arrow_left{
    width: 21px;
    height: 39px;
    background: url(/images/contextbox/grey_big/left.png) top center no-repeat;
  }
  
  .contextbox .contextbox_arrow_top{
    width: 39px;
    height: 21px;
    background: url(/images/contextbox/grey_big/top.png) top center no-repeat;
  }
  
  .contextbox .contextbox_arrow_bottom{
    width: 39px;
    height: 21px;
    background: url(/images/contextbox/grey_big/bottom.png) top center no-repeat;
  }
  
  .contextbox .contextbox_arrow_right{
    width: 21px;
    height: 39px;
    background: url(/images/contextbox/grey_big/right.png) top center no-repeat;
  }

  .contextbox form {
    margin-top: 15px;
  }

  .contextbox button {
    float: right;
    margin-top: 10px;
  }
  
  .contextbox input {
    width: 100%;
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    box-sizing: border-box; /* css3 rec */
  }
  
  .contextbox p {
    font-size: 14px;
    line-height: 1.4em;
    margin: .6em 0;
    color: #8e9293;
  }
  
  .contextbox .simple_table {
    font-size: 14px;
  }
  
  .contextbox select {
    font-size: 13px;
    margin-left: 0;
  }
  
  .contextbox .adjacent_to_back_button {
    float: left;
  }
  
  .contextbox .back {
    float: left;
    width: 32px;
    height: 22px;
    background: url(../images/context_box_back.png) no-repeat;
    text-indent: -9999px;
    border: none;
    margin-right: 10px;
    position: relative;
    top: -1px;
  }
  
    .contextbox .back:active {
      top: 0;
    }



/* Specifics. */
  
.collaborators_box {
  width: 340px;
  padding: 15px;
}
  
  .collaborators_box .delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/delete.png) no-repeat;
    text-indent: -99999px;
    margin-bottom: -33px;
    position: relative;
    top: -3px;
    margin-right: 4px;
    border: none;
  }
  
    .collaborators_box .delete:active {
      top: -2px;
    }
    
  .collaborators_box .name {
    display: inline-block;
    max-width: 9em;
    /* Text trucation. Must be a single line; must specify a width. */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Only works at this point. */
    -moz-text-overflow: ellipsis;
  }
  
  .collaborators_box .add {
    display: inline-block;
    min-height: 20px;
    background: url(../images/add.png) no-repeat;
    margin-bottom: -33px;
    position: relative;
    top: -4px;
    text-indent: 27px;
    padding-top: 2px;
    border: none;
  }
  
    .collaborators_box .add:active {
      top: -3px;
    }
    
  .collaborators_box .simple_table select {
    float: right;
    margin-top: -3px;
  }
  
  .collaborators_box #add_a_person select{
    font-size: 1.6em;
    height: 2em;
  }
  
  .collaborators_box input {
    padding: 0.3em 0.5em;
  }
  
  .collaborators_box #add_a_person ul {
    color: #8e9293;
    font-size: 1.25em;
    margin-top: .8em; margin-bottom: .6em;
    margin-left: 1.4em;
  }
   
    .collaborators_box #add_a_person li {
      line-height: 1.5em;
    }
  
  .collaborators_box #add_a_person button {
    float: none;
  }
  
  .collaborators_box #collaboration_submit {
    float: none;
    width: 100px;
  }
  .collaborators_box .email_form {
    width: 200px;
  }
  

.modal .ink {
  font-size: 1.3em;
  text-shadow: 0 1px 1px white;
  line-height: 1.3em;
  float: left;
  margin-top: .3em;
}

  .ink + button {
    margin-top: .3em;
  }
