<div class="account_avatar">
  <ul>
    <li>
      <%= image_tag user.avatar.url(:thumb) %>
    </li>
    <li>
      <h2><%= user.name %></h2>
    </li>
  <% if logged_in? && current_user != user %>
    <li>
      <%= link_to 'Follow', follow_path(user_id: user.id),remote: true, method: :post, id: "follow_#{user.id}" %>
    </li>
  <% end %>
</div>