<% content_for :head do  %>
  <%= stylesheet_link_tag 'james' %>
<% end %>

<h1>Listing purchases</h1>

<div class="tabular">
  <table class="">
    <tr>
      <th width="10px"></th>
      <th>Product</th>
      <th>Amount</th>
    </tr>

  <% @purchases.each do |purchase| %>
    <tr>
      <td><a href="/products/<%= purchase.product.id %>/download"><img src="/images/big_arrow_right.png" /></td>
      <td><%= link_to purchase.product.name, product_url(purchase.product) %></td>
      <td><%= number_to_currency(purchase.amount) %></td>
    </tr>
  <% end %>
  </table>
</div>