<article>
  <% trending_products_by_tag.each do |tag, products| %>
    <section>
      <h1><%= tag %></h1>
      <ul>
        <% products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</article>
