<% content_for :head do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<article>
  <% trending_products_by_tag.each do |tag, products| %>
    <section>
      <h1><%= tag %></h1>
      <ul>
        <%= render partial: "index/product", collection: products %>
      </ul>
    </section>
  <% end %>
</article>
