<% content_for :head do  %>
  <%= stylesheet_link_tag 'product' %>
<% end %>

<div class="product">
  
  <div class="preview">
    
  </div>
  
  <div class="slider">
    <ul>
      <li><img src="/images/_sample_thumbnails/1.png" /></li>
      <li><img src="/images/_sample_thumbnails/2.png" /></li>
      <li><img src="/images/_sample_thumbnails/3.png" /><li>
    </ul>
  </div>
  
  <div class="clearfix"></div>

  <div class="buttons">
    <button>Like</button>
    <button>One Click Purchase</button>
    <button>Add to Cart </button>
  </div>
  
</div>